<mat-toolbar color="primary">
  <span class="example-spacer"></span>
  <mat-chip-list aria-label="Fish selection">
    <mat-chip color="primary" (click)="showTypesPage('dashboard')" selected>DashBoard</mat-chip>
    <mat-chip color="primary" (click)="showTypesPage('types')" selected>Types</mat-chip>
    <mat-chip color="primary" (click)="showTypesPage('search')" selected>Search Files</mat-chip>
  </mat-chip-list>
</mat-toolbar>

<div *ngIf="showTypes === 'dashboard'">
  <mat-list>
    <div mat-subheader>Files</div>
    <mat-list-item *ngFor="let file of files">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line><span class="capitalize-text ">Creation Date: </span> {{file.creationDateTime | date}} </div>
      <div mat-line><span class="capitalize-text ">Created and Updated User:</span> {{file.modifiedByName}} </div>
      <div mat-line><span class="capitalize-text ">File Type: </span> {{file.modifiedByType}} </div>
      <div mat-line><span class="capitalize-text ">ModifiedBy: </span> {{file.modifiedBy }} </div>
      <div mat-line><span class="capitalize-text ">Popularity: </span> {{file.popularity }} </div>
      <div mat-line><span class="capitalize-text ">Scheduled: </span> {{file.scheduled }} </div>
      <div mat-line><span class="capitalize-text ">Status: </span> {{file.status }} </div>
      <div mat-line><span class="capitalize-text ">Title: </span> {{file.title }} </div>
      <div mat-line><span class="capitalize-text ">Type: </span> {{file.type }} </div>
      <div mat-line><span class="capitalize-text ">Iri: </span> {{file.uri }} </div>
      <div mat-line><span class="capitalize-text ">ersion: </span>V {{file.version }} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <div mat-subheader>Users</div>
    <mat-list-item *ngFor="let user of users">
      <mat-icon mat-list-icon>supervised_user_circle</mat-icon>
      <div mat-line><span class="capitalize-text">Family Name: </span> {{user.familyName}} </div>
      <div mat-line><span class="capitalize-text">Given Name: </span> {{user.givenName }} </div>
      <div mat-line> <span class="capitalize-text">ID: </span> {{user.id }} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>

  <mat-list>
    <div mat-subheader>Type</div>
    <mat-list-item *ngFor="let type of types">
      <mat-icon mat-list-icon>info</mat-icon>
      <div mat-line><span class="capitalize-text">Name: </span> {{type.name}} </div>
      <div mat-line><span class="capitalize-text">ColourID: </span> {{type.colourId }} </div>
      <div mat-line><span class="capitalize-text">Creation Date: </span> {{type.creationDateTime}} </div>
      <div mat-line><span class="capitalize-text">Description: </span> {{type.description }} </div>
      <div mat-line><span class="capitalize-text">Documents Count: </span> {{type.documentsCount }} </div>
      <div mat-line><span class="capitalize-text">Id: </span> {{type.id }} </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>

<div *ngIf="showTypes === 'types'">
  <types-root [files]="files"></types-root>
</div>

<div *ngIf="showTypes === 'search'">
  <search-root [files]="files"></search-root>
</div>
